<!DOCTYPE html>
<html lang="en"><head>
  <title>Bootstrap Website Tutorial</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../static/js/csrf.js"></script>

<link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="MyNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
					<li class="active"><a href="/recorder">Record</a></li>
            <li><a href="/team">Team</a></li>
  					<li><a href="/about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class =  "recordPage">
		<h1>Example: Mehant Sucks</h1>
		<h3>Click "start recording" and continuously say "Mehant Sucks".</h3>
		<h3>Click stop recording to complete the recording of your audio.</h3>
		<h3></h3>

		<!-- Draw the action buttons -->
		<button id="start-btn">Start recording</button>
		<button id="stop-btn" disabled>Stop recording</button>

		<!-- List item to store the recording files so they can be played in the browser -->
		<h2>Stored Recordings</h2>
		<ul id="recordingslist"></ul>
		<div id="submit"></div>

		<script src="../static/js/recorderWeb.js"></script>

		<!-- Include the recorder.js library from a local copy -->
		<script src="../static/js/recorder.js"></script>


	</div>
</body>
</html>